@import "vars";
@import "fonts";
@import "accordion";


html {
  box-sizing: border-box;
  background-color: #000;
}


*, *::after, *::before {
  box-sizing: inherit;
}


h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  padding: 0;
  cursor: pointer;
}


a {
  text-decoration: none;
  color: inherit;
}


body {
  min-width: 320px;
  overflow-x: hidden;
  font-family: 'Roboto-Regular', 'sans-serif';
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $light-grey-color;
}


.container {
  padding: 0 20px;
}


.title {
  font-size: 28px;
  letter-spacing: 0.24px;
  line-height: 38px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 20px;
}

.text {
  font-weight: 300;
  margin: 0 auto 40px;
  font-size: 20px;
  line-height: 22px;
  color: #a9a9a9;
}

.button {
  background-color: #fff;
  color: #000;
  text-transform: uppercase;
  padding: 20px;
  border-radius: 2px;
  width: 280px;
  display: block;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin: 42px 0 50px;
}

.image {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 300px;
}

.page-number {
  margin-top: 48px;
  font-size: 44px;
  color: rgba(255,255,255,0.1)
}